.calendar__title {
  width: 163px;
  font-size: 14px;
  text-align: center;
  color: #dfdfdf;
  text-transform: uppercase;
}

.calendar__container {
  width: 267px;
  height: 390px;
  background: #272829 0% 0% no-repeat padding-box;
}

.calendar__box {
  margin: auto;
  width: 277px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 19px;
}

.calendar__main {
  width: 100%;
  background-color: #272829;
  height: 608px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__line {
  width: 240px;
  height: 1.4px;
  background-color: #ffffff;
  opacity: 0.43;
  margin: auto;
  position: relative;
  left: 4px;
}

@media screen and (min-width: 1024px) {
  .calendar {
    display: flex;
  }

  .calendar__title {
    width: 163px;
    font-size: 19px;
  }

  .calendar__container {
    width: 367px;
    height: 490px;
  }

  .calendar__box {
    width: 367px;
  }

  .week__day {
    font-size: 20px;
    margin-left: 0;
  }

  .calendar__main {
    width: 36%;
    height: 708px;
  }

  .calendar__line {
    width: 330px;
    left: 0;
  }

  .week__day {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .calendar__container {
    width: 467px;
  }

  .calendar__box {
    width: 467px;
    padding-left: 22px;
    padding-right: 22px;
  }

  .calendar__main {
    height: 908px;
  }

  .calendar__line {
    width: 410px;
    left: 0;
  }
}
