/* Main container */

.calendar {
  display: flex;
}

/* Для календаря */

.calendar__title {
  width: 163px;
  font-size: 19px;
  text-align: center;
  color: #dfdfdf;
  text-transform: uppercase;
}

.calendar__container {
  width: 367px;
  height: 490px;
  background: #272829 0% 0% no-repeat padding-box;
}

.calendar__box {
  margin: auto;
  width: 367px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
}

/* Days */

.calendar__day {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

/* For calendar */

.calendar__main {
  width: 36%;
  background-color: #272829;
  height: 908px;
  display: flex;
  justify-content: center;
  align-items: center;
}
