.iconButton {
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: transparent;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear;
}

.iconButton:focus {
  outline: none;
}
