/* Banner */

.banner {
  width: 64%;
  background-image: url(../../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 908px;
}

.banner__container {
  width: 554px;
  height: 268px;
  margin-left: auto;
  margin-top: 192px;
  margin-right: 32px;
}

.banner__title {
  font-size: 50px;
  letter-spacing: 3.5px;
  color: #fdd000;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 44px;
}

.banner__text {
  font-size: 30px;
  letter-spacing: 0.6px;
  color: #dfdfdf;
  text-align: right;
}
